.env
.idea

.venv
__pycache__

allure-results
allure-report

*.html
*.json
videos
tracing
!/browser-state.json
coverage.html
coverage-results.json
coverage-report.json
coverage-history.json

.coverage
.DS_Store
